---
import { Image } from "astro:assets";
import localSpotifyImage from "@/icons/spotify.webp";
import errorImage from "@/assets/img/error.jpg";

let data = null;

function setDataError() {
  data = {
    data: {
      name: "No song",
      artists: [{ name: "No artist" }],
      album: {
        images: [{ url: errorImage.src }],
      },
      external_urls: { spotify: "#" },
    },
  };
}

try {
  const response = await fetch(`${import.meta.env.APP_URL}api/nowplaying`);
  if (response.ok) {
    data = await response.json();
  } else {
    setDataError();
  }
} catch (error) {
  setDataError();
  console.error("Error al obtener la información de la canción", error);
}
---

<div
  class="group bg-white aspect-square shadow-lg rounded-lg relative col-span-2 row-span-2 overflow-hidden flex flex-col"
>
  <picture
    class="absolute bottom-0 left-0 -z-0 opacity-80 group-hover:blur-xs transition ease-in-out duration-500"
  >
    <img src={data.data.album.images[0].url} alt={data.data.name} />
  </picture>
  <a
    href={data?.data.external_urls.spotify}
    target="_black"
    class="absolute w-full h-full z-20"
  >
    <Image
      class="w-20 p-4 transition duration-500 ease-out group-hover:scale-125"
      src={localSpotifyImage}
      alt="Logo de spotify animado"
    />
  </a>
  <div class="p-4 h-full w-full flex flex-col justify-end text-white relative">
    <h2 class="pl-2 text-xl font-bold black-text-shadow truncate">
      Last One Song
    </h2>
    <p
      class="pl-2 font-semibold text-gray-100 text-sm black-text-shadow truncate group-hover:text-white transition ease-in-out duration-700"
    >
      Song: <span class="font-normal">{data.data.name}</span>
    </p>
    <p
      class="pl-2 font-semibold text-gray-300 truncate text-xs black-text-shadow group-hover:text-white transition ease-in-out duration-700"
    >
      Artist: <span class="font-normal"
        >{
          data?.data.artists.length > 1
            ? data?.data.artists.map((artist: any) => artist.name).join(", ")
            : data?.data.artists[0].name
        }</span
      >
    </p>
  </div>
</div>
