---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import LocalMe1Image from "../icons/me1.webp";

type Contact = {
	icon: string;
	info: string;
};

type Skill = {
	id: number;
	name: string;
	progress: number;
}

type Lenguaje = {
	id: number;
	name: string;
	level: string;
}

type Study = {
	id: number;
	institution: string;
	title: string;
	description?: string;
	href?: string;
	average?: number;
};

type PersonalExperience = {
	id: number;
	title: string;
	repository?: string;
	href?: string;
	type?: string;
}

type JobExperience = {
	id: number;
	company: string;
	position: string;
	startDate: Date;
	endDate?: Date;
	description?: string;

}

const contacts: Contact[] = [
	{
		icon: "mail",
		info: "swsbmm@gmail.com",
	},
	{
		icon: "phone",
		info: "+57 3016992999",
	},
	{
		icon: "location",
		info: "Bogotá, Colombia",
	},
];

const studies: Study[] = [
	{
		id: 1,
		institution: "Universidad Distrital Francisco José de Caldas",
		title: "Ingenieria electronica",
		description: "cuatro semestres 2014-2016",
	},
	{
		id: 2,
		institution: "Universidad Distrital Francisco José de Caldas",
		title: "Ingenieria de sistemas",
		description: "Porcentaje de carrera: 95.6%",
		average: 4.21,
	},
];

const skills: Skill[] = [
	{ id: 1, name: "Docker", progress: 70 },
	{ id: 2, name: "GIT", progress: 60 },
	{ id: 3, name: "GNU/Linux", progress: 60 },
	{ id: 4, name: "HTML-CSS", progress: 50 },
	{ id: 5, name: "Javascript", progress: 40 },
	{ id: 6, name: "React", progress: 40 },
	{ id: 7, name: "Python", progress: 40 },
	{ id: 8, name: "Java", progress: 40 },
	{ id: 9, name: "Bases de datos SQL", progress: 50 },
]

const lenguajes: Lenguaje[] = [
	{ id: 1, name: "Español", level:"Nativo"},
	{ id: 2, name: "Inglés", level:"Básico A1"},
]

const personalExperiences: PersonalExperience[] = [
	{ id: 1, title: "Proyectos en React: Colección de aplicaciones y componentes desarrollados con React.", repository: "GitHub", href: "https://github.com/redflox/react-projects", type: "propio"},
	{ id: 2, title: "API en python con fastapi.", repository: "GitHub", href: "https://github.com/Juferoga/bd-2/tree/main/backend/api", type: "colaborativo"},
	{ id: 3, title: "Proyectos en django: Colección de aplicaciones web y módulos desarrollados con Django.", repository: "GitHub", href: "https://github.com/redflox/django-projects", type: "propio"},
	{ id: 4, title: "Administración de Servidor VPS: Configurado y administrado personalmente utilizando Docker.", type: "propio"},
]

const jobExperiences: JobExperience[] = [
	{ id: 1, company: "Jerrejerre S.A.S", position: "Desarrollador JR", startDate: new Date(2022, 11, 12), endDate: new Date(2023, 4, 12), description: "Como Desarrollador Junior, lideré la gestión y mantenimiento de servidores Linux, desplegando aplicaciones en contenedores mediante Docker Compose y Docker Stack. Aproveché servidores web como Apache, Nginx y OpenLiteSpeed para optimizar las operaciones. Adicionalmente, desarrollé un módulo para Joomla CMS y colaboré activamente en el mantenimiento de sitios Drupal."}
]
---

<Layout title="Curriculum Vitae">
	<div class="m-auto max-w-6xl w-full bg-white rounded-lg overflow-hidden mb-24 shadow-xl">
		<div class="header"></div>

		<div class="grid grid-cols-1 md:grid-cols-[300px,1fr] gap-4 py-10">

			<div class="h-full w-full flex flex-col md:border-r-2 px-10">

				<section id="avatar" class="avatar flex justify-center">
					<div
						class="w-36 h-36 md:w-48 md:h-48 lg:h-60 lg:w-60 xl:w-72xl:h-72 rounded-full"
						transition:name="introcard image"
					>
						<Image src={LocalMe1Image} alt="me" />
					</div>
				</section>

				<section id="contact" class="mt-11">
					<ul>
						{contacts.map((contact) => <li>{contact.info}</li>)}
					</ul>
				</section>

				<section id="education" class="mt-11">
					<h2 class="font-medium text-xl mb-6">EDUCACIÓN</h2>
					<ul class="list-disc pl-4">
						{studies.map((study) => 
							<li class="py-2 ">
								<a target="_blank" {...(study.href ? { href: study.href } : {})} class={`h-full w-full ${study.href ? 'cursor-pointer' : ''}`}>
									<p class="font-medium">{study.institution}</p>
									<h3 class="text-sm text-gray-500">{study.title}</h3>
									{ study.description ? <p class="text-sm text-gray-500">{study.description}</p> : <></> }
									{ study.average ? <p class="text-sm text-gray-500">Promedio acumulado: {study.average}%</p> : <></> }	
								</a>
							</li>)}
					</ul>
				</section>

				<section id="skills" class="mt-11">
					<h2 class="font-medium text-xl mb-6">HABILIDADES</h2>
					<ul class="list-disc pl-4">
						{
							skills.map( skill => <li>{skill.name}</li>)
						}
					</ul>
				</section>

				<section id="lenguaje" class="mt-11">
					<h2 class="font-medium text-xl mb-6">IDIOMAS</h2>
					<ul class="list-disc pl-4">
						{
							lenguajes.map( lenguaje => <li class="py-2">
									<p class="text-sm text-gray-600">{lenguaje.name}</p>
									<span class="font-bold text-sm">{lenguaje.level}</span> 
								</li>)
						}
					</ul>
				</section>

			</div>

			<div class="h-full w-full flex flex-col px-10">
				
				<header id="header" class="py-16">
					<p class="text-6xl text-zinc-700">BRYAN MUÑOZ</p>
					<h2 class="text-2xl">Ingeniero de Sistemas & Desarrollador de Software</h2>
				</header>

				<section id="description-profile">
					<h2 class="font-medium text-xl mb-6">PERFIL</h2>
					<article class="flex flex-col gap-4 text-justify">
						<p>
							Soy un entusiasta del mundo tech con un enfoque firme en la innovación y adaptabilidad. Manejo un amplio rango de tecnologías que incluyen Java, JavaScript, Python, CSS, HTML, SQL, React, Express, OracleDB, Tailwind, spring y FastAPI. Mi experiencia abarca el desarrollo de soluciones de alta calidad, fácilmente escalables y comprensibles.</p>
						<p>
							Como Desarrollador, me destacó en la gestión y mantenimiento de servidores Linux, implementando herramientas como Docker, Nginx, Apache. Mis contribuciones extendidas incluyen el despliegue y mantenimiento de aplicaciones como WordPress, Nextcloud, Moodle, Drupal y Django, así como la gestión de bases de datos en Postgresql y Oracle.
						</p>
						<p>
							Actualmente, me encuentro en una fase de transición hacia el rol de Desarrollador Full Stack, con énfasis en fortalecer mis habilidades en backend con spring y desarrollo web con Astro y React.
						</p>
					</article>
				</section>

				<section id="job-experience" class="mt-11">
					<h2 class="font-medium text-xl mb-6">EXPERIENCIA LABORAL</h2>
					<ul class="list-disc pl-4">
						{
							jobExperiences.map( jobExperience => <li>
									<h3 class="font-semibold">{jobExperience.company} | {jobExperience.position}</h3>
									<span class="text-gray-600 italic">
										{jobExperience.startDate 
											? `${new Date(jobExperience.startDate).getFullYear()} (${new Date(jobExperience.startDate).toLocaleString('es', { month: 'long' })})`
											: ""}
										{jobExperience.endDate 
											? ` - ${new Date(jobExperience.endDate).getFullYear()} (${new Date(jobExperience.endDate).toLocaleString('es', { month: 'long' })})`
											: - "(actual)"}
									</span>
									{
										jobExperience.description 
										? <p class="text-justify text-sm text-gray-600">{jobExperience.description}</p>
										: ''
									}
								
								</li>)
						}
					</ul>
					
					
				</section>

				<section id="personal-experience" class="mt-11">
					<h2 class="font-medium text-xl mb-6">EXPERIENCIA PERSONAL</h2>
					<ul class="list-disc pl-4">
						{
							personalExperiences.map( personalExperience => <li>
									{personalExperience.title} 
									{(personalExperience.repository !== undefined || personalExperience.href !== undefined) ? <a class="underline font-semibold text-sm text-zinc-600" target="_blank" href={personalExperience.href}>{personalExperience.repository}</a> : null}
								</li>)
						}
					</ul>
					
				</section>

				
				
			</div>

		</div>
	</div>
</Layout>

<style>
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		color: black;
		padding: 20px 0;
	}

	.header {
		border-top: 20px solid black;
	}
</style>
