---
import { Icon } from 'astro-icon/components'
import ToggleTheme from './toggle-theme/toggle';

const textLinks: { label: string; href: string }[] = [
    { label: "Inicio", href: "/" },
];

const socialNetwors: { label: string; href: string; icon: string }[] = [
    { label: "GitHub", href: "https://github.com/redflox", icon: "github" },
    {
        label: "Linkedin",
        href: "https://www.linkedin.com/in/bfmunozm96",
        icon: "linkedin",
    },
];
---

<div
    class="text-black dark:text-white w-full z-50 m-auto container max-w-6xl font-medium mb-14"
>
    <div class="flex justify-between gap-2 px-4 pt-6">
        <a
            href="/"
            class="flex flex-grow basis-0 gap-2 items-center no-underline align-middle"
        >
            <!-- Icono de terminal o logo -->
            <picture
                class="hover:scale-125 transition duration-500 ease-out"
            >
                <Icon name="terminal" class="w-8 h-8"/>
            </picture>
            <span class="text-2xl m-0">REDFLOX</span>
        </a>
        <nav class="hidden sm:block">
            <ul class="flex h-full bg-[#F0ECE2] rounded-full p-1">
                {
                    textLinks.map((link) => (
                        <li class="text-gray-900">
                            <a
                                href={link.href}
                                class="flex items-center justify-center h-full px-4 hover:bg-[#F4C542] hover:rounded-full"
                            >
                                {link.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <nav class="hidden sm:flex sm:flex-grow sm:basis-0 sm:justify-end">
            <ul class="flex">
                <ToggleTheme client:load/>
                {
                    socialNetwors.map((social) => (
                        <li class="p-1 ml-2 hover:cursor-pointer hover:scale-150 transition duration-500 ease-out ">
                            <a href={social.href} target="_blank" aria-label={social.label}>
                                <picture>
                                    <Icon name={social.icon}  class="w-8 h-8" />
                                </picture>
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</div>