---
// const CLIENT_ID = import.meta.env.SPOTIFY_CLIENT
// const REDIRECT_URI = "http://localhost:4321/api/spotify-callback/"
// const AUTH_ENDPOINT = "https://accounts.spotify.com/authorize"
// const RESPONSE_TYPE = "code"
// const SCOPE = "user-read-recently-played"

// const response = `${AUTH_ENDPOINT}?client_id=${CLIENT_ID}&redirect_uri=${REDIRECT_URI}&response_type=${RESPONSE_TYPE}&scope=${SCOPE}`
// console.log(response)

import { Image } from 'astro:assets'
import localSpotifyImage from '../icons/spotify.webp'
const response = await fetch(`${import.meta.env.APP_URL}api/nowplaying`);
const data = await response.json()

---

<div class="bg-white aspect-square shadow-lg rounded-lg relative col-span-1 row-span-1 w-full h-full overflow-hidden flex flex-col">
    <picture class="absolute bottom-0 left-0 -z-0  opacity-80" >
        <img src={data.data.album.images[0].url}/>
    </picture>
    <a href={data?.data.external_urls.spotify} target="_black" class="z-20 hover:cursor-pointer">
        <Image class="w-20 p-4 transition duration-500 ease-out hover:scale-125" src={localSpotifyImage} alt="Logo de spotify animado" />
    </a>
    <div class="p-4 h-full w-full flex flex-col justify-end text-white relative">
        <h2 class="pl-2 text-xl font-bold black-text-shadow truncate">Last One Song</h2>
        <p class="pl-2 font-semibold text-gray-100 text-sm black-text-shadow truncate">Song: <span class="font-normal">{data.data.name}</span></p>
        <p class="pl-2 font-semibold text-gray-300 truncate text-xs black-text-shadow">Artist: <span class="font-normal">{
            data?.data.artists.length > 1
            ? data?.data.artists.map( (artist: any)  => artist.name).join(", ")
            : data?.data.artists[0].name
        }</span></p>
    </div>
</div>

<style>
    
</style>